<div class="section">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Birth Year</th>
            <th>Select!</th>
        </tr>
        <tr *ngFor="let item of actorsDB">
            <td>{{item.name}}</td>
            <td>{{item.bYear}}</td>
            

            <div *ngIf = "actorId == item._id"><td><button type="submit" class="btn btn-danger" (click)=onSelectActor(item)>Select</button></td></div>
            <div *ngIf = "actorId != item._id"><td><button type="submit" class="btn btn-primary" (click)="onSelectActor(item)">Select</button></td></div>
           
            
        </tr>>
        
    </table>
</div>
<br>
<div class="section">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Select!</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            
            <div *ngIf = "movieId == item._id"><td><button type="submit" class="btn btn-danger" (click)=onSelectMovie(item)>Select</button></td></div>
            <div *ngIf = "movieId != item._id"><td><button type="submit" class="btn btn-primary" (click)=onSelectMovie(item)>Select</button></td></div>
        </tr>
    </table>
</div>
<hr>
<button type="submit" class="btn btn-primary" (click)=addActor2Movie()>addActor2Movie</button>

